---
Language: Cpp
BasedOnStyle: LLVM
AlwaysBreakTemplateDeclarations: Yes
ColumnLimit: 160
SpaceAfterTemplateKeyword: true
Standard: c++20
TabWidth: 2
IndentWidth: 2
UseTab: Always
IndentRequires: true
SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^[<"][^">]*\.(hpp|h)[">]$'
    Priority: 0
  - Regex: '^<[^>]*>$'
    Priority: 1
  - Regex: '.*'
    Priority: 2
PointerAlignment: Right
QualifierAlignment: Left
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  AlignCompound: false
  PadOperators: true
AlignConsecutiveDeclarations:
  Enabled: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass:	false
  AfterStruct: false
  AfterFunction: true
  BeforeElse:	true
